---
---

@use 'main.bundle';

#sidebar .site-title {
  font-size: 1.5rem;
}

#sidebar .sidebar-bottom .icon-border {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

details pre {
  padding: 1.5rem;
}
